html {
    background: #263238;
    color: #ffffff;
    font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    height: 100%;
    box-sizing: border-box;
}

body {
    margin: auto;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

header {
    margin: 0;
    padding: 0;
    text-align: center;
}

header > h1 {
    font-size: 2em;
}

main {
    padding: 24px 48px;
    flex: 1 0 auto;
    margin: 0;
    word-wrap: break-word;
    text-align: justify;
    margin: auto;
    max-width: 1200px;
    box-sizing: border-box;
}

nav {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

nav > a {
    font-size: 1.2em;
    margin: 0 2px;
    padding: 24px 10px;
}

a, a:visited {
    color: #eeeeee;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.main-list > li > a {
    font-size: 2em;
}

.main-list {
    text-align: start;
    list-style-type: none;
}

.main-list > li {
    margin: 32px;
}

.gdpr > h3 {
    text-align: center;
}

.gdpr > p {
    text-align: justify;
    word-wrap: break-word;
    align-self: center;
}

.common {
    border: 1px solid red;
}