---
layout: page
permalink: /tags/
title: Tags
---


<div id="archives">
{% for tag in site.tags %}
  <div class="archive-group">
    {% capture tag_name %}{{ tag | first }}{% endcapture %}
    <div id="#{{ tag_name | slugize }}"></div>
    <p></p>

    <h4 class="tag-head">{{ tag_name }}</h3>
    <ul>
      {% for post in site.tags[tag_name] %}
        <li>
          <article class="archive-item">
            <a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a>
          </article>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endfor %}
</div>